{% extends 'base.html.twig' %}

{% block title 'find all the best pins on earth!' %}

{% block body %}
   <h1>{{ pluralize(pins|length, 'Pin')}}  </h1>
   <a href="{{ path('pins_create') }}">Create Pin</a>

    {% for pin in pins %}
        <article>
            <h2>{{ pin.title }}</h2>
            <p>{{ pin.description }}</p>
        </article>
    {% else %}
        <p>Sorry, no pins yet!</p>
    {% endfor %}

{% endblock %}
